<!DOCTYPE html>
<html lang="en" ng-app="ClockApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

  <link href="./css/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <script src="./app.js" charset="utf-8"></script>
  <script src="controller/clock.controller.js" charset="utf-8"></script>

  <title>Document</title>
</head>
<body>

  <section ng-controller="ClockController as clock" ui-view>

    <div class="clock-background">
      <p>{{ clock.clock | date: 'EEE d MMM yyyy' }}</p>

      <div class="text">

        <button class="btn-lg button" href="" ng-click="shortHand=false ; longHand=true">12H</button>
        <button class="btn-lg button" ng-click="shortHand=true ; longHand=false">24H</button>

        <p ng-click="shortHand=true ; longHand=false" ng-hide="shortHand">
          {{ clock.clock | date: 'hh:mm:ss a' }}
        </p>

        <p ng-click="shortHand=false ; longHand=true" ng-hide="longHand">
          {{ clock.clock | date: 'HH:mm:ss' }}
        </p>

      </div>

    </div>

    <section>
      <div id="time"></div>
      <div id="clock"></div>
      <div class="num num1"><div>1</div></div>
      <div class="num num2"><div>2</div></div>
      <div class="num num3"><div>3</div></div>
      <div class="num num4"><div>4</div></div>
      <div class="num num5"><div>5</div></div>
      <div class="num num6"><div>6</div></div>
      <div class="num num7"><div>7</div></div>
      <div class="num num8"><div>8</div></div>
      <div class="num num9"><div>9</div></div>
      <div class="num num10"><div>10</div></div>
      <div class="num num11"><div>11</div></div>
      <div class="num num12"><div>12</div></div>
      <div id="hr-hand"></div>
      <div id="min-hand"></div>
      <div id="sec-hand"></div>
    </section>

  </section>

</body>
</html>
