<!DOCTYPE html>
<html lang="en" ng-app="ClockApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

  <link href="css/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <script src="./app.js" charset="utf-8"></script>
  <script src="controller/clock.controller.js" charset="utf-8"></script>

  <title>Document</title>
</head>
<body>

  <section ng-controller="ClockController as clock" ui-view>

    <div class="clock-background">
      <p>{{ clock.clock | date: 'EEE, d MMM, yyyy' }}</p>
      <a href="" ng-click="shortHand=false ; longHand=true">12H</a>
      <button ng-click="shortHand=true ; longHand=false">24H</button>

      <p ng-click="shortHand=true ; longHand=false" ng-hide="shortHand">{{ clock.clock | date: 'h:mm:ss a' }}</p>
      <p ng-click="shortHand=false ; longHand=true" ng-hide="longHand">{{ clock.clock | date: 'H:mm:ss' }}</p>
      <!-- <button type="button" name="button" ng-click="showme=false">12h</button>
      <button type="button" name="button" ng-click="">24h</button> -->
    </div>

  </section>

</body>
</html>
